<h1>ログ</h1>

<table id="table" class="sortable">
<thead>
	<tr>
		<th><h3>ID</h3></th>
		<th><h3>日時</h3></th>
		<th><h3>ステータス</h3></th>
		<th><h3>サイト名</h3></th>
	</tr>
</thead>
<tbody>
  <% @logs.each_with_index do |log,i| %>
    <% content_tag(:tr) do %>
      <%= content_tag :td, i+1 %>
      <%= content_tag :td, h(log.date.strftime("%Y/%m/%d %H:%M:%S")) %>
      <%= content_tag :td, h(log.status) %>
	    <%= content_tag :td, h(log.site_name) %>
    <% end %>
  <% end %>
</tbody>
</table>

<div id="controls">
	<div id="perpage">
		<select onchange="sorter.size(this.value)">
		<option value="5">5</option>
			<option value="10" selected="selected">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
		<span>ページあたりの件数</span>
	</div>
	<div id="navigation">
		<%= link_to_function(image_tag("tinytable_img/first.gif", :alt => "先頭ページ"), "sorter.move(-1,true)") %>
		<%= link_to_function(image_tag("tinytable_img/previous.gif", :alt => "前のページ"), "sorter.move(-1)") %>
		<%= link_to_function(image_tag("tinytable_img/next.gif", :alt => "次のページ"), "sorter.move(1)") %>
		<%= link_to_function(image_tag("tinytable_img/last.gif", :alt => "最終ページ"), "sorter.move(1,true)") %>
	</div>
	<div id="text"><span id="pagelimit"></span>ページ中 <span id="currentpage"></span>ページ目を表示</div>
</div>

<script type="text/javascript">
	var sorter = new TINY.table.sorter("sorter");
	sorter.head = "head";
	sorter.asc = "asc";
	sorter.desc = "desc";
	sorter.even = "evenrow";
	sorter.odd = "oddrow";
	sorter.evensel = "evenselected";
	sorter.oddsel = "oddselected";
	sorter.paginate = true;
	sorter.currentid = "currentpage";
	sorter.limitid = "pagelimit";
	sorter.init("table",0);
</script>

